*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  display: inline-block;
}

ul, ol {
  list-style: none;
}

.navbar .ms-auto {
  position: relative;
  left: -300px;
}

.navbar .text_1 {
  position: relative;
  left: 30px;
  top: 4px;
  border: 2px solid black;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  background-color: #494949;
}

.navbar .img_12 {
  position: relative;
  right: 7px;
}

.navbar .navbar-brand {
  position: relative;
  right: 60px;
}

.main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  left: 23px;
}

.main .text_1 {
  font-size: 60px;
}

.main .text_litlle {
  width: 75%;
  color: #807777;
  font-weight: bold;
}

.main .link {
  text-decoration: none;
  position: relative;
  top: 20px;
  font-size: 20px;
  color: white;
  background-color: #2C9553;
  padding: 6px 20px;
  border-radius: 50px;
}

.section_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section_title .section_item {
  text-align: center;
  margin-top: 40px;
}

.section_title .section_text {
  margin-top: 16px;
  font-weight: bold;
}

.section_title .section_text1 {
  color: #726d6d;
  width: 60%;
  position: relative;
  left: 78px;
}

.text_12 {
  margin-left: 490px;
  margin-top: 60px;
}

.text-21 {
  margin-left: 360px;
  font-size: 20px;
  color: #3B433E;
  margin-top: 20px;
}

.biger_ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 20px;
}

.biger_ .biger_title {
  margin: 10px;
}

.biger_ .biger_text {
  font-weight: bold;
}

.biger_ .biger_text1 {
  color: #545454;
  margin-top: 15px;
  position: relative;
  right: 5px;
}

.main1 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  left: 23px;
}

.main1 .text_12 {
  font-size: 60px;
}

.main1 .text_litlle1 {
  width: 75%;
  color: #807777;
  font-weight: bold;
}

.main1 .link1 {
  text-decoration: none;
  position: relative;
  top: 20px;
  font-size: 20px;
  color: white;
  background-color: #2C9553;
  padding: 6px 20px;
  border-radius: 50px;
}

.main1 .main_title_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main1 .main_title_1 img {
  width: 200%;
  position: relative;
  right: 180px;
  top: 100px;
}

.main1 .main_item_2 {
  position: relative;
  top: 270px;
  right: 140px;
}

.main1 .main_item_3 {
  position: relative;
  right: 22px;
}

.main1 .main_item_1 img {
  width: 220%;
  position: relative;
  top: 130px;
}

.main1 .text_big1 {
  position: relative;
  right: 100px;
}

.main1 .text_12 {
  position: relative;
  right: 370px;
  font-size: 50px;
  margin-bottom: 20px;
}

.main1 .text_litlle1 {
  position: relative;
  left: 120px;
  width: 60%;
}

.main1 .link1 {
  position: relative;
  left: 120px;
}

.main_2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 100%;
  position: relative;
  left: 23px;
  margin-top: 250px;
}

.main_2 .text_1_2 {
  font-size: 60px;
  width: 70%;
  margin-left: 50px;
}

.main_2 .text_litlle_2 {
  width: 55%;
  color: #807777;
  font-weight: bold;
  margin-left: 50px;
}

.main_2 .link_2 {
  text-decoration: none;
  position: relative;
  top: 20px;
  font-size: 20px;
  color: white;
  background-color: #2C9553;
  padding: 6px 20px;
  border-radius: 50px;
  margin-left: 50px;
}

.main_3 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  left: 23px;
  margin-top: 180px;
}

.main_3 .text_1_3 {
  font-size: 60px;
  width: 90%;
  margin-left: 50px;
}

.main_3 .text_litlle_3 {
  width: 80%;
  color: #807777;
  font-weight: bold;
  margin-left: 50px;
  margin-top: 20px;
}

.main_3 .text_link {
  color: #888080;
  margin-left: 50px;
  margin-top: 20px;
}

.section_title_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section_title_1 .section_item_1 {
  text-align: center;
  margin-top: 40px;
}

.section_title_1 .section_text_1 {
  margin-top: 16px;
  font-weight: bold;
}

.section_title_1 .section_text1_1 {
  color: #726d6d;
  width: 60%;
  position: relative;
  left: 78px;
}

.link_2_2 {
  text-decoration: none;
  position: relative;
  top: 100px;
  font-size: 20px;
  color: white;
  background-color: #2C9553;
  padding: 10px 50px;
  border-radius: 50px;
  margin-left: 570px;
  font-weight: bold;
}

.link_2_2:hover {
  background-color: darkorange;
  color: white;
}

.text_12_1 {
  margin-left: 430px;
  margin-top: 60px;
  font-size: 48px;
}

.text-21_1 {
  margin-left: 400px;
  font-size: 25px;
  color: #3B433E;
  margin-top: 20px;
}

.sect {
  margin-top: 300px;
  margin-left: 70px;
}

.sect .sect_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sect .text_0 {
  width: 93%;
  font-weight: 400;
  color: #6d6565;
  margin-top: 20px;
}

.sect .sect_text_1 {
  margin-left: 10px;
}

.sect .img_0 {
  position: relative;
  right: 10px;
}

.sect .text_p {
  font-size: 15px;
  color: #928f8f;
  position: relative;
  left: 100px;
  bottom: 22px;
}

.sect .sect_text {
  margin-left: 420px;
  margin-bottom: 80px;
  font-size: 50px;
}

.sect .img_photo {
  position: relative;
  top: 100px;
  margin-left: 560px;
}

.form_1 {
  margin-top: 350px;
  text-align: center;
}

.form_1 .form_text_1 {
  font-size: 22px;
  color: #817a7a;
  margin-bottom: 50px;
}

.form_1 .inp {
  border: 1px solid #cac7c7;
  padding: 9px 30px;
  border-radius: 50px;
}

.form_1 .btn {
  background-color: #2C9553;
  border-radius: 50px;
  padding: 7px 10px;
  margin-left: 10px;
  margin-bottom: 6px;
  color: white;
  font-weight: bold;
}

.form_1 .btn:hover {
  background-color: yellow;
  color: darkgreen;
}

.nav1 {
  margin-top: 280px;
}

.nav1 .nav_list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  bottom: 170px;
}

.nav1 .nav_item1 {
  margin: 90px;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  top: 60px;
  left: 190px;
  color: rgba(128, 128, 128, 0.753);
}

.nav1 .text10 {
  font-size: 30px;
  position: relative;
  bottom: 174px;
  color: white;
  left: -20px;
}

.nav1 .me_123 {
  width: 190%;
  line-height: 40px;
  margin-top: 24px;
}

.nav1 .nav_link1 {
  color: black;
  position: relative;
  top: 7px;
  text-decoration: none;
}

.nav1 .korol_text {
  position: relative;
  top: 90px;
}

.nav1 .korol_text_1 {
  position: relative;
  top: 130px;
  width: 20%;
  color: #888585;
}

.big_link {
  text-align: center;
  margin-left: 0px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: #4ba52d;
  padding: 15px;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */