

*,*::before, *::after{
    box-sizing: border-box;
}

a{
    display: inline-block;
}

ul,ol{
    list-style: none;
}


.ms-auto{
    position: relative;
    left: -400px;
    
.active{
    color: green;
}
}