

*,*::before, *::after{
    box-sizing: border-box;
}

a{
    display: inline-block;
}

ul,ol{
    list-style: none;
}



.navbar{

    .ms-auto{
    position: relative;
    left: -300px;
    }   
        .text_1{
            position: relative;
            left: 30px;
            top: 4px;
            border: 2px solid black;
            border-radius: 8px;
            font-weight: bold;
            color: white;
            background-color: #494949;
        }
            .img_12{
                position: relative;
                right:  7px;
            }

                .navbar-brand{
                    position: relative;
                    right: 60px;
                }
}



.main{
    .container{
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        left: 23px;
    }
        .text_1{
        font-size: 60px;
        }

            .text_litlle{
            width: 75%;
            color: rgb(128, 119, 119);
            font-weight: bold;
            }

                .link{
                    text-decoration: none;
                    position: relative;
                    top: 20px;
                    font-size: 20px;
                    color: white;
                    background-color:  #2C9553
                    ;
                    padding: 6px 20px;  
                    border-radius: 50px;
                }
}



.section_title{
    display: flex;
    justify-content:space-between;
   
        .section_item{
            text-align: center;
            margin-top: 40px;
        }

            .section_text{
                margin-top: 16px;
                font-weight: bold;
            }
                 .section_text1{
                    color: rgb(114, 109, 109);
                    width: 60%;
                    position: relative;
                    left: 78px;
                }
                    
}
.text_12{
    margin-left: 490px;
    margin-top: 60px;
}

.text-21{
    margin-left: 360px;
    font-size: 20px;
    color: #3B433E;
    margin-top:20px;
}

.biger_{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    .biger_title{
        margin: 10px;
    }
        .biger_text{
            font-weight: bold;
        }
            .biger_text1{
                color:  #545454;
                margin-top: 15px;
                position: relative;
                right: 5px;
            }
               
}




.main1{
    .container{
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        left: 23px;
    }
        .text_12{
        font-size: 60px;
        }

            .text_litlle1{
            width: 75%;
            color: rgb(128, 119, 119);
            font-weight: bold;
            }

                .link1{
                    text-decoration: none;
                    position: relative;
                    top: 20px;
                    font-size: 20px;
                    color: white;
                    background-color:  #2C9553
                    ;
                    padding: 6px 20px;  
                    border-radius: 50px;
                }
                    .main_title_1{
                        display: flex;
                        img{
                            width: 200%;
                            position: relative;
                            right: 180px;
                            top: 100px;
                        }
                    }
                        .main_item_2{
                            position: relative;
                            top: 270px;
                            right: 140px;
                        }
                            .main_item_3{
                                position: relative;
                                right: 22px;
                            }
                                .main_item_1{
                                    img{
                                        width: 220%;
                                        position: relative;
                                        top: 130px;
                                    }
                                }
                                    .text_big1{
                                        position: relative;
                                        right: 100px;
                                    }
                                        .text_12{
                                            position: relative;
                                            right: 370px;
                                            font-size: 50px;
                                            margin-bottom: 20px;
                                        }
                                            .text_litlle1{
                                                position: relative;
                                                left: 120px;
                                                width: 60%;
                                            }
                                                .link1{
                                                    position: relative;
                                                    left: 120px;
                                                }

}









.main_2{
    .container{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        width: 100%;
        position: relative;
        left: 23px;
        margin-top: 250px;
    }
        .text_1_2{
        font-size: 60px;
        width: 70%;
        margin-left: 50px;
        }

            .text_litlle_2{
            width: 55%;
            color: rgb(128, 119, 119);
            font-weight: bold;
            margin-left: 50px;
            }

                .link_2{
                    text-decoration: none;
                    position: relative;
                    top: 20px;
                    font-size: 20px;
                    color: white;
                    background-color:  #2C9553
                    ;
                    padding: 6px 20px;  
                    border-radius: 50px;
                    margin-left: 50px;
                }
}






.main_3{
    .container{
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        left: 23px;
        margin-top: 180px;
    }
        .text_1_3{
        font-size: 60px;
        width: 90%;
        margin-left: 50px;
        }

            .text_litlle_3{
            width: 80%;
            color: rgb(128, 119, 119);
            font-weight: bold;
            margin-left: 50px;
            margin-top: 20px;
            }
                .text_link{
                    color: rgb(136, 128, 128);
                    margin-left: 50px;
                    margin-top: 20px;
                }  
}






.section_title_1{
    display: flex;
    justify-content:space-between;
   
        .section_item_1{
            text-align: center;
            margin-top: 40px;
        }

            .section_text_1{
                margin-top: 16px;
                font-weight: bold;
            }
                 .section_text1_1{
                    color: rgb(114, 109, 109);
                    width: 60%;
                    position: relative;
                    left: 78px;
                }
                    
}


